/* @variables */
  @import "variables";
/* @end */

/* @default bootstrap components */
  @import 'bootstrap';
  @import "font-awesome";
/* @end */

/* @custom components */
/* @end */

html, body, .content, h2, form {
  background: rgba(74,157,122,1.0);
  color: white;
}
a {
  color: white;
  text-decoration: underline;
}
.check-in-persons {
  margin-top: 30px;
}
h5 {
  color: rgba(255,255,255,0.5);
}
.auth {
  padding: 30px;
  background: rgba(74,157,122,1.0);
}
.auth h2 {
  margin: 0;
  padding: 0;
}
.auth form {
  margin-top: 30px;
  input[type=text],
  input[type=email],
  input[type=password] {
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 15px;
    color: black;
  }
}
.auth .btn-submit {
  display: block;
  background: rgba(59, 181, 235, 1.0);
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  font-weight: 800;
  padding: 15px;
  margin-top: 30px;
}